<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mewlxy.readlib">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <provider
            android:name=".base.ContextProvider"
            android:authorities="${applicationId}.contextprovider"
            android:exported="false" />
        <activity android:name=".activity.NovelReadActivity"/>
    </application>


</manifest>
